  .reveal .logo {
    max-width: 314px;
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 0 72px 0; }
  .reveal .logo-small {
    max-width: 218px;
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 0 72px 0; }

  .reveal img.logo,
  .reveal img.logo-small {
    border: none;
    box-shadow: none;
    background: none;
  }

html.baltimore-city body {
  background: url("../../img/bg-baltimore-city.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html.baltimore-promenade body {
  background: url("../../img/bg-baltimore-promenade.jpg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
